* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

:root {
    --darkgray: #242526;
    --darkgray2: #18191A;
    --gray: #e4e6eb;
    --lightgray: #38393a;
    --hrcolor: #2CABFF;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 1200px;
    color: #e4e6eb;
    background-color: var(--darkgray2);
    font-size: 20px;
}

a:link,
a:visited {
    text-decoration: none;
    color: #feffff;
}

.custom-theme-primary-1 {
    color: #E73C7E;
}


/* Background */

.content {
    background: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.contentaboutme {
    text-align: center;
}

.contentname {
    font-size: 5em;
    padding-top: 40vh;
    color: white;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
}

.content-icons-a {
    transition: 0.4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.contentdescription {
    font-size: 2em;
    color: white;
    animation: fadeIn2 ease 2s;
    -webkit-animation: fadeIn2 ease 2s;
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content-icons {
    animation: fadeIn2 ease 2.5s;
    -webkit-animation: fadeIn2 ease 2.5s;
}

.div-content-icons {
    margin-left: 50px;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}


/* HEADER */

.header {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.49);
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--darkgray);
    z-index: 100;
}

#chkbox {
    position: absolute;
    visibility: hidden;
}

.show-menu {
    float: right;
}

.show-menu i {
    line-height: 70px;
}

.show-menu {
    font-size: 40px;
    color: var(--gray);
    display: none;
}

.logo {
    height: 50px;
    margin-left: 90px;
    margin-top: 15px;
    /* filter: invert(94%) sepia(52%) saturate(662%) hue-rotate(177deg) brightness(103%) contrast(110%); */
}

.logo-text {
    color: white;
    font-size: 36px;
    margin-left: 90px;
    /* filter: invert(94%) sepia(52%) saturate(662%) hue-rotate(177deg) brightness(103%) contrast(110%); */
}

.logo-text a:link,
.logo-text a:visited {
    color: white;
}

.menu {
    margin: 0px;
}

.menu>li {
    display: inline;
    margin-right: 50px;
}

.menu>li>a {
    transition-duration: 0.4s;
}

.menu>li>a:hover {
    color: white;
    animation: glitch 200ms infinite;
    -webkit-animation: glitch 300ms infinite;
}

h1 {
    color: var(--gray);
}


/* ABOUT ME */

.profilepicture {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profilepicturecenter {
    margin-top: 25px;
    text-align: center;
}

.about-me-intro {
    font-size: 2em;
    color: var(--gray);
    margin: 0;
}

.about-me-text {
    padding: 40px;
    text-align: center;
}

.small-hr {
    width: 40px;
    margin: 0 auto;
    /* border-color: #5D6063; */
    border-top: 2px solid var(--hrcolor);
}


/* ABOUT ME END */


/* GLITCH */

#content1 i {
    font-size: 2rem;
    margin: 0.5rem;
    transition: all 150ms ease-in-out;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
}

.skills-icons-wrapper i {
    transform: scale(1.2);
    transform: translate(-1px, -1px);
    animation: glitch 200ms infinite;
    -webkit-animation: glitch 300ms infinite;
    color: white;
}

@keyframes glitch {
    0% {
        text-shadow: -3px 2px #E73C7E, -2px -4px #2CABFF, -1px -1px black, 3px 5px rgb(0, 0, 0);
    }
    35% {
        text-shadow: -2px -4px #E73C7E, 2px 1x #2CABFF, -1px -1px black, 3px 5x 5px rgb(0, 0, 0);
    }
    40% {
        text-shadow: 2px -1px #E73C7E, -4px 1px #2CABFF, -1px -1px black, 3px 5px 5px rgb(0, 0, 0);
    }
    75% {
        text-shadow: -3px -1px #E73C7E, -2px -2px #2CABFF, -1px -1px black, 3px 5px 5px rgb(0, 0, 0);
    }
    100% {
        text-shadow: -2px -1px #E73C7E, 2px -1px #2CABFF, -1px -1px black, 3px 5px 5px rgb(0, 0, 0);
    }
}

@keyframes glitch-div {
    0% {
        box-shadow: -3px 2px #E73C7E, -2px -4px #2CABFF, -1px -1px black, 3px 5px rgb(0, 0, 0);
    }
    35% {
        box-shadow: -2px -4px #E73C7E, 2px 1x #2CABFF, -1px -1px black, 3px 5x 5px rgb(0, 0, 0);
    }
    40% {
        box-shadow: 2px -1px #E73C7E, -4px 1px #2CABFF, -1px -1px black, 3px 5px 5px rgb(0, 0, 0);
    }
    75% {
        box-shadow: -3px -1px #E73C7E, -2px -2px #2CABFF, -1px -1px black, 3px 5px 5px rgb(0, 0, 0);
    }
    100% {
        box-shadow: -2px -1px #E73C7E, 2px -1px #2CABFF, -1px -1px black, 3px 5px 5px rgb(0, 0, 0);
    }
}

.content-icons-a:hover {
    animation: glitch 200ms infinite;
    -webkit-animation: glitch 300ms infinite;
}


/* GLITCH END */


/* HAMBURGER BAR */

label {
    display: inline-block;
    width: 90px;
    text-align: left;
}


/* SKILLS */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;
}

.skills-div-border {
    background-color: var(--darkgray);
    border-bottom: 1px solid var(--lightgray);
    border-top: 1px solid var(--lightgray);
}

.skills-div-icon {
    text-align: center;
}


/* .skills-icons {
    color: var(--gray);
    margin-left: 25px;
} */

.skills-icons {
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}

.skills-text {
    margin: 0;
    color: #2CABFF;
}

.skills-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}


/* SKILLS END */


/* PROJECTS */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 40px;
}

.projects-image {
    padding: 20px;
    width: 750px;
}

.projects-div {
    margin: 10px;
    background-color: var(--darkgray);
    border: 1px solid var(--lightgray);
    transition: 0.4s;
}

.projects-div:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: var(--lightgray);
}

.projects-p {
    color: var(--gray);
}

.projects-h {
    transition: all 150ms ease-in-out;
}

.projects-div:hover .projects-h {
    animation: glitch 200ms infinite;
    -webkit-animation: glitch 300ms infinite;
}


/* PROJECTS END */


/* HAMBURGER BAR-END */

@media only screen and (max-width: 770px) {
    .show-menu {
        display: block;
        margin-right: 0px;
    }
    .hamburger-bar {
        font-size: 1em;
    }
    /* .content { 
 background: url(images/bg2.jpg); 
 background-repeat: no-repeat; 
 background-size: cover; 
 background-position: center; 
 height: 720px; 
 } */
    .contentname {
        font-size: 2.5em;
        padding-top: 40vh;
        color: white;
    }
    .contentdescription {
        font-size: 1em;
    }
    .content-icons-i {
        color: white;
    }
    /* HEADER */
    .header {
        /* box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49); */
        width: 100%;
        height: 70px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        background: var(--darkgray);
    }
    .logo {
        margin-left: 20px;
        height: 40px;
    }
    .menu {
        position: fixed;
        margin-top: 70px;
        left: -100%;
        top: 0;
        background: #242526;
        width: 100vw;
        height: 100vh;
        text-align: center;
        padding: 80px;
        transition: 0.5s;
        border-top: 1px solid var(--lightgray);
    }
    #chkbox:checked~.menu {
        left: 0;
    }
    a:link,
    a:visited {
        text-decoration: none;
        color: white;
    }
    .menu>li {
        display: block;
        margin-top: 70px;
        margin-right: 0px;
        color: white;
    }
    .menu>li:first-child {
        margin-top: 0px;
    }
    .menu>li>a:hover {
        color: white;
        transition-duration: 0.4s;
    }
    /* HEADER-END */
    /* PROJECTS */
    .projects-image {
        width: 95vw;
    }
    /* PROJECTS END */
}